<div class="alert alert-info" role="alert">
    Dieses Spiel benötigt eine Tastatur und ein angemessen großes Display!
</div>
<p>
    <a href="/assets/SheeehS_Web/index.html" class="btn btn-primary btn-lg"
        >Hier geht's zum original Spiel</a
    >
</p>
<br />

<h5>
    Die weitergeführte Idee ist in Form von Apps hier verfügbar:
</h5>
<a
    class="btn btn-lg btn-outline-dark mr-2"
    href="https://apps.apple.com/us/app/treylo/id1484051319"
>
    <span class="d-inline-block text-left">
        <small class="font-weight-light d-block">Download on the</small> App
        Store
    </span>
</a>

<a
    class="btn btn-lg btn-outline-dark"
    href="https://play.google.com/store/apps/details?id=com.VictorGoerzig.Treylo"
>
    <span class="d-inline-block text-left">
        <small class="font-weight-light d-block">Get it on </small> Google Play
    </span>
</a>
