<style>
    #input-card:not(.hidden)::before {
        content: " ";
        width: 448px;
        height: 448px;
        position: absolute;
        border: calc(-1rem + 384px / 16 * 2) #b8b8b8 solid;
    }
    #nn-input {
        /* opacity: 0; */
        z-index: 1;
        width: 448px;
        pointer-events: none;
        image-rendering: pixelated;
        image-rendering: optimizeSpeed;
    }
    #user-input {
        z-index: 1;
    }
    #user-input,
    .user-input-shadow {
        opacity: 0;
        position: absolute;
        top: calc((384px / 16 * 2));
        left: calc((384px / 16 * 2));
    }
    .user-input-shadow {
        opacity: 1;
        width: 384px;
        height: 384px;
        background: #ffffff;
    }
    #nn-certainties {
        background-color: #ffffff;
    }
    #nn-highestGuess-container {
        z-index: 1;
        width: 448px;
        height: 448px;
        position: absolute;
        pointer-events: none;
    }
    #nn-run.cleared .cleared-off,
    #nn-run:not(.cleared) .cleared-on,
    #nn-run.loading .loading-off,
    #nn-run:not(.loading) .loading-on,
    #nn-run.waiting .waiting-off,
    #nn-run:not(.waiting) .waiting-on {
        display: none;
    }
    #draw-above:not(.cleared) {
        display: none;
    }
</style>

<div class="d-flex justify-content-center mb-5">
    <div>
        <div class="col-12">
            <div
                id="input-card"
                class="card shadow mb-3 p-3"
                style="width: min-content; background: #b8b8b8;"
            >
                <div class="user-input-shadow rounded shadow"></div>
                <canvas id="nn-input" width="28" height="28"
                    >This Browser does not support the canvas element!</canvas
                >
                <canvas id="user-input" width="384" height="384"></canvas>

                <h5 id="draw-above" class="text-center cleared">
                    Draw a number above or
                </h5>
                <div
                    class="d-flex pt-1 mb-2"
                    style="justify-content: space-around;"
                >
                    <button
                        id="nn-run"
                        class="btn btn-lg btn-primary cleared"
                        style="flex-grow: .5;"
                    >
                        <span class="loading-off">
                            <span class="waiting-off">
                                <span class="cleared-off">
                                    Test my input!
                                </span>
                                <span class="cleared-on"
                                    >Use a random sample</span
                                ></span
                            >
                            <span class="waiting-on"
                                >Please wait
                                <span id="submitTimeoutText"></span>
                                secs</span
                            >
                        </span>
                        <span class="loading-on">
                            <div class="d-inline-flex align-content-center">
                                <div
                                    class="spinner-grow spinner-grow-sm"
                                    role="status"
                                    aria-hidden="true"
                                ></div>
                            </div>
                            <span>&nbsp;Evaluating input..</span>
                        </span>
                    </button>
                    <button
                        id="input-clear"
                        class="btn btn-lg btn-light d-none"
                    >
                        Clear input
                    </button>
                </div>

                <canvas
                    id="nn-certainties"
                    width="448"
                    height="224"
                    class="d-none bg-white rounded shadow pt-2 mt-4"
                ></canvas>

                <div
                    id="nn-highestGuess-container"
                    aria-live="polite"
                    aria-atomic="true"
                    class="d-flex justify-content-center align-items-center"
                >
                    <div
                        id="nn-highestGuess"
                        class="toast"
                        role="alert"
                        aria-live="assertive"
                        aria-atomic="true"
                        data-delay="5000"
                    >
                        <div
                            role="alert"
                            aria-live="assertive"
                            aria-atomic="true"
                        >
                            <div class="toast-header">
                                <h3>
                                    It's a&nbsp;<b
                                        ><output
                                            id="nn-highestGuess_output"
                                        ></output
                                    ></b>
                                </h3>
                            </div>
                            <div class="toast-body">
                                <h6>
                                    At least with&nbsp;<b
                                        id="nn-highestGuess_certainty"
                                    ></b
                                    >% certainty..
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mb-5">
    <a
        class="btn btn-secondary btn-lg"
        href="https://gitlab.com/informatik-pulsar-2/ip2-nn"
        target="_blank"
        >Zum Code</a
    >
</div>

<script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.min.js"></script>
<script src="/assets/mnist_test_randImg.js"></script>
<script src="/assets/nn.js" defer async></script>
