<style>
    #sspo-start.loading .loading-off,
    #sspo-start:not(.loading) .loading-on,
    #sspo-run.loading .loading-off,
    #sspo-run:not(.loading) .loading-on {
        display: none;
    }
</style>

<div class="d-flex justify-content-center mb-5">
    <div>
        <div class="col-12">
            <div class="card shadow mb-3 p-3" style="background: #b8b8b8;">
                <div class="card-body">
                    <pre
                        class="card-text bg-white rounded shadow p-3 m-2 mb-3 d-none"
                    ><output id="sspo-client-output"></output></pre>

                    <div
                        class="d-flex pt-3"
                        style="justify-content: space-around;"
                    >
                        <input
                            id="sspo-client-input"
                            class="form-control form-control-lg d-none"
                            type="text"
                            placeholder="client input"
                            title="client input"
                            disabled
                            required
                            autocomplete="off"
                        />
                    </div>
                    <div
                        class="d-flex pt-3"
                        style="justify-content: space-around;"
                    >
                        <button
                            id="sspo-run"
                            class="btn btn-lg btn-primary d-none"
                            disabled
                        >
                            <span class="loading-off">
                                Send input
                            </span>
                            <span class="loading-on">
                                <div class="d-inline-flex align-content-center">
                                    <div
                                        class="spinner-grow spinner-grow-sm"
                                        role="status"
                                        aria-hidden="true"
                                    ></div>
                                </div>
                                <span>&nbsp;Sending input..</span>
                            </span>
                        </button>
                    </div>

                    <div class="d-flex" style="justify-content: space-around;">
                        <button
                            id="sspo-start"
                            class="btn btn-lg btn-primary mb-3"
                        >
                            <span class="loading-off">
                                Start a client!
                            </span>
                            <span class="loading-on">
                                <div class="d-inline-flex align-content-center">
                                    <div
                                        class="spinner-grow spinner-grow-sm"
                                        role="status"
                                        aria-hidden="true"
                                    ></div>
                                </div>
                                <span>&nbsp;Starting client..</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mb-5">
    <a
        class="btn btn-secondary btn-lg"
        href="https://gitlab.com/informatik-pulsar-2/ip2-schere-stein-papier"
        target="_blank"
        >Zum Code</a
    >
</div>

<script src="/assets/sspoGame.js" defer async></script>
