<div class="p-3">
    <div class="alert alert-danger text-center" role="alert">
        Hier bist du leider falsch!
    </div>
</div>
<div class="text-center">
    <img src="/assets/meme.jpg" alt="" class="img-fluid" />
</div>

<div class="d-flex justify-content-center my-5">
    <a class="btn btn-info btn-lg" href="/projects">Zu den Projekten</a>
</div>
