<div class="jumbotron">
    <h1 class="display-4 text-break">Programmieren.</h1>
    <p class="lead">
        Eine Fähigkeit, die in der heutigen Welt eine Vielzahl an Dingen
        erschaffen hat, und die noch eine Unmenge mehr zu Tage bringen wird. Mit
        der weiterhin steigenden Beliebtheit von künstlichen Intelligenzen wie
        Amazons Alexa oder FaceApp gibt es viele neue Entwicklungen in der Welt
        rund um KI.
    </p>
    <p class="lead">
        Und was hat das mit dem Fach Bio zu tun?
        <br />
        Wir haben uns damit beschäftigt, wie man das Gehirn bzw. ähnliche
        Funktionen technisch nachstellen kann ... und haben auch ein paar
        ordentliche Diskussionen zum Thema KI in der Zukunft geführt ... Wir
        haben uns mit einer “simpleren” Version des Gehirns beschäftigt, dem
        neuronalen Netzwerk. Dabei hat sich der Kurs Grundkenntnisse und
        Fähigkeiten im Programmieren angeeignet.
    </p>
    <a
        class="btn btn-primary btn-lg #shadow-sm mr-1 mb-2 mb-sm-0"
        href="/projects"
        role="button"
        >Zu den Ergebnissen</a
    >
    <a
        class="btn btn-outline-primary btn-lg #shadow-sm mb-2 mb-sm-0"
        href="https://gitlab.com/informatik-pulsar-2"
        target="_blank"
        role="button"
        title="Öffnet die GitLab-Gruppe mit den Repositories"
        >Zum Code</a
    >
    <hr class="mb-4 mt-3 mt-sm-4" />
    <p>
        Dies war die zweite Auflage des Informatikpulsars. Mehr zum ersten
        Informatikpulsar, und warum das alles ein bisschen besonders ist:
    </p>
    <a
        class="btn btn-outline-secondary mr-1 mb-2 mb-sm-0"
        href="https://informatikpulsar.mcsanthy.de/Blogeintrag.pdf"
        target="_blank"
        role="button"
        title="Öffnet den Blogeintrag zum ersten Informatikpulsar"
        >Zum Blogeintrag</a
    >
    <a
        class="btn btn-outline-secondary mb-2 mb-sm-0"
        href="https://informatikpulsar.mcsanthy.de/"
        target="_blank"
        role="button"
        title="Öffnet die Webseite des ersten Informatikpulsars"
        >Ergebnisse des ersten Pulsars</a
    >
    <hr class="mb-4 mt-3 mt-sm-4" />
    <a
        class="btn btn-info btn-lg btn-block"
        href="https://www.neue-oberstufe.de/lernformate/pulsar/pulsar"
        target="_blank"
        role="button"
        title="Öffnet die Webseite der Neuen Oberstufe zum Lernformat Pulsar"
        >Moment Mal! Was ist eigentlich ein "Pulsar"?!</a
    >
</div>

<!-- <div class="list-group">
    <a
        href="#"
        class="list-group-item list-group-item-primary list-group-item-action"
    >
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Lehrerteam</h5>
        </div>
        <p class="mb-1">
            Das aus zwei bereits mit der Schule fertigen "Schülern" und einem
            Regellehrer bestehende Team, dass das Pulsar vorbereitete und
            leitete konnte verschiedene Inputs zu vielen Themen geben.
        </p>
        <small>"Der Altersunterschied macht was aus."</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Schüler</h5>
            <small class="text-muted">Jhg.11</small>
        </div>
        <p class="mb-1">
            Donec id elit non mi porta gravida at eget metus. Maecenas sed diam
            eget risus varius blandit.
        </p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Schüler</h5>
            <small class="text-muted">Jhg. 12</small>
        </div>
        <p class="mb-1">
            Donec id elit non mi porta gravida at eget metus. Maecenas sed diam
            eget risus varius blandit.
        </p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Schüler</h5>
            <small class="text-muted">Jhg. 13</small>
        </div>
        <p class="mb-1">
            Donec id elit non mi porta gravida at eget metus. Maecenas sed diam
            eget risus varius blandit.
        </p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
</div>
<div class="alert alert-info mt-3" role="alert">
    <h4 class="alert-heading text-center">Kontakt:</h4>
    <p class="text-center">030-257 60 71 - 0</p>
</div> -->
