<% if (article.readingMode) { %><link
    href="https://fonts.googleapis.com/css?family=Merriweather:300&display=swap"
    rel="stylesheet"
    crossorigin="anonymous"
/>
<style>
    .article-content {
        font-family: "Merriweather", serif;
    }
    .article-content h4#quellen + ul li a,
    .article-content h4#referenzen + ul li a,
    .article-content h4#quellen + ol li a,
    .article-content h4#referenzen + ol li a {
        word-break: break-word !important;
        overflow-wrap: break-word !important;
    }
</style>
<% } %>

<article role="article">
    <header class="mb-3">
        <h1><%= article.title %></h1>
        <h2 class="text-muted">
            <small
                >von <%= article.authors.map((author, authorI) => { return (
                authorI + 2 < article.authors.length ? author + ", " : author +
                (authorI + 1 < article.authors.length ? " & " : ""));
                }).join("") %></small
            >
        </h2>
    </header>
    <article class="article-content"><%- article.content %></article>
</article>
