<div class="jumbotron">
    <h1 class="display-4">Moin!</h1>
    <p class="lead">
        Willkommen zu der Website des Schülerpulsars über Künstliche
        Intelligenz, das menschliche Gehirn und Programmiersprachen.
    </p>
    <hr class="my-4" />
    <p>
        Hier finden sie alle entstandenen Ergebnisse der Teilnehmer aus den
        Jahrgängen 11-13 zu den verschiedensten Themen.
    </p>
    <a class="btn btn-primary btn-lg #shadow-sm" href="/projects" role="button"
        >Unsere Projekte</a
    >
</div>
<div class="text-center mt-2">
    <a
        href="https://www.ev-schule-zentrum.de/"
        title="Öffnet die Seite der Evangelischen Schule Berlin Zentrum"
        ><img
            src="/assets/esbz_logo_gelb.jpg"
            alt="Das Logo der ESBZ (ein Fisch zwischen zwei Wellen)"
            class="img-fluid"
    /></a>
</div>
