<!DOCTYPE html>

<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Das gemeinsame Ergebnis des zweiten Informatikpulsars an der ESBZ (Evangelische Schule Berlin Zentrum)"
        />
        <meta name="theme-color" content="#78bbc4" />
        <link rel="manifest" href="/manifest.json" />

        <link
            rel="apple-touch-icon-precomposed"
            sizes="57x57"
            href="/favicons/apple-touch-icon-57x57.png"
        />
        <link
            rel="apple-touch-icon-precomposed"
            sizes="114x114"
            href="/favicons/apple-touch-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon-precomposed"
            sizes="72x72"
            href="/favicons/apple-touch-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon-precomposed"
            sizes="144x144"
            href="/favicons/apple-touch-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon-precomposed"
            sizes="120x120"
            href="/favicons/apple-touch-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon-precomposed"
            sizes="152x152"
            href="/favicons/apple-touch-icon-152x152.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="/favicons/x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            href="/favicons/favicon-32x32.png"
            sizes="32x32"
        />
        <link
            rel="icon"
            type="image/png"
            href="/favicons/favicon-16x16.png"
            sizes="16x16"
        />
        <meta name="application-name" content="Informatikpulsar 2" />
        <meta name="msapplication-TileColor" content="#78bbc4" />
        <meta
            name="msapplication-TileImage"
            content="/favicons/mstile-144x144.png"
        />

        <link rel="stylesheet" href="/bootstrap.min.css" />

        <title>Informatikpulsar 2 - <%= route.title %></title>
    </head>

    <body>
        <%- include('./nav', { routes, route }) %>
        <main role="main" id="content" class="container mt-3 mb-3">
            <%- include(route.render, { route }) %>
        </main>

        <script>
            // Check that service workers are registered
            if ("serviceWorker" in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener("load", () => {
                    navigator.serviceWorker.register("/sw.js");
                });
            }
        </script>

        <script src="/jquery-3.3.1.slim.min.js"></script>
        <script src="/popper.min.js"></script>
        <script src="/bootstrap.min.js"></script>
    </body>
</html>
