<style>
    .navbar-light .navbar-nav .nav-link {
        color: rgba(0, 0, 0, 0.7);
    }
    .navbar-light .navbar-nav .active > .nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show > .nav-link {
        font-weight: bold;
    }
</style>

<nav role="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="sr-only sr-only-focusable" href="#content"
        >Skip to main content</a
    >

    <a class="navbar-brand" href="/projects" aria-hidden="true" tabindex="-1">
        <img
            src="/favicons/x192.png"
            width="30"
            height="30"
            class="d-inline-block align-top rounded"
            alt=""
        />&nbsp;Informatikpulsar 2</a
    >

    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% for (let rI = 0; rI < routes.length; rI++) { const r =
            routes[rI]; if (!r.inNav) continue; const active = route.id == r.id;
            %>
            <li class="nav-item <%= active ? 'active' : ''%>">
                <a class="nav-link" href="<%- r.path %>"
                    ><%- r.title %><% if (active) { %><span class="sr-only"
                        >&nbsp;(current)</span
                    ><% } %></a
                >
            </li>
            <% } %>
        </ul>
    </div>
</nav>
