<div class="alert alert-warning" role="alert">
    Dieses interaktive Projekt ist noch in Bearbeitung.
</div>

<div class="d-flex justify-content-center mb-5">
    <div>
        <div class="col-12">
            <div class="card rounded shadow-lg border-light">
                <div id="carouselExampleCaptions" class="card-img-top carousel slide shadow" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="<%- frame.img %>" class="d-block w-100 rounded" alt="<%= frame.imgAlt %>" />
                            <!-- <div class="carousel-caption d-none d-md-block shadow-lg rounded" style="background: rgba(0, 0, 0, 0.75);">
                                <% if (frame.title) { %>
                                <h5><%= frame.title %></h5>
                                <% } %>
                                <% if (frame.text) { %>
                                <p style="margin-bottom: 0px;">
                                    <%= frame.text %>
                                </p>
                                <% } %>
                            </div> -->
                        </div>
                    </div>
                    <% if (!frame.next || typeof(frame.next) !== "string") { %>
                    <a
                        class="carousel-control-prev"
                        href="/pictures/<%- typeof(frame.next) === "string" ? frame.next : frame.next ? frame.next[0] : "" %>"
                        role="button"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <% } %>
                    <% if (frame.next) { %>
                    <a
                        class="carousel-control-next"
                        href="/pictures/<%- typeof(frame.next) === "string" ? frame.next : frame.next[1] %>"
                        role="button"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <% } %>
                </div>

                <div class="card-body #d-md-none">
                    <% if (frame.title) { %>
                    <h5 class="card-title"><%= frame.title %></h5>
                    <% } %>
                    <% if (frame.text) { %>
                    <p class="card-text">
                    <%= frame.text %>
                    </p>
                    <% } %>

                    <% if (typeof(frame.next) === "string") { %>
                    <a href="/pictures/<%-frame.next %>" class="btn btn-secondary" role="button">Weiter</a>
                    <% } else if (frame.next) {
                        for (let nextI = 0; nextI < frame.next.length; nextI++) {
                            const next = frame.next[nextI];
                        %>
                    <a href="/pictures/<%-next%>" class="btn btn-primary" role="button">Weiter (<%=next%>)</a>
                    <% }
                    } else { %>
                    <!-- Ende. -->
                    <a href="/pictures" class="btn btn-success" role="button">Von neuem Starten</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
