<style>
    .card-columns {
        column-count: 1;
    }

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {
        .card-columns {
            column-count: 1;
        }
    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        .card-columns {
            column-count: 2;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        .card-columns {
            column-count: 2;
        }
    }

    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        .card-columns {
            column-count: 3;
        }
    }
</style>
<div class="card-columns">
    <% for (let pI = 0; pI < projects.length; pI++) { const p = projects[pI]; if
    (p.hiddenProject) continue; %>
    <div class="p-3 mb-n1">
        <div class="card border-secondary shadow mb-4">
            <!-- <a href="<%- p.path %>"><div class="card-header"><%= p.title %></div></a> -->
            <div class="card-body text-dark">
                <article>
                    <header>
                        <h4 class="card-title text-body"><%= p.title %></h4>
                        <h5 class="card-subtitle text-muted">
                            <span
                                >von <%= p.authors.map((author, authorI) => {
                                return (authorI + 2 < p.authors.length ? author
                                + ", " : author + (authorI + 1 <
                                p.authors.length ? " & " : "")); }).join("")
                                %></span
                            >
                        </h5>
                    </header>
                    <section>
                        <p class="card-text my-3"><%= p.shortContent %></p>
                        <a
                            href="<%- p.path %>"
                            class="btn btn-outline-info stretched-link"
                            >mehr lesen ...</a
                        >
                    </section>
                </article>
            </div>
        </div>
    </div>
    <% } %>
</div>
